// ==================================================================
// Main Mixin: used to output classes and silent holders
// ==================================================================

@mixin ModuleButton($isSilent: true, $prefix: false) {
  $class: if($isSilent,'%','.');
  $silentClass: '%';
  @if ($prefix){
    $class: $class + $prefix;
    $silentClass: $silentClass + $prefix;
  }
  $notSilent: if($isSilent, false, true);
  $output: $uni-outputModulesClasses-Button;

  @if ($output) or ($isSilent) {
    #{$class}Button {
      @if ($notSilent) {
        @extend #{$silentClass}Button;
      } @else {
        @include u-display(inline-block);
        white-space:nowrap;
        font-family:inherit;
        font-size:100%;
        cursor:pointer;
        text-decoration: none;
        border:none;
        @include u-inlineBlockSize(1);
      }
    }

    /**
     * Make the button inherit sizing from its parent.
     */
    #{$class}Button--inherit{
      @if ($notSilent) {
        @extend #{$silentClass}Button--inherit;
      } @else {
        vertical-align: baseline;
        font-size: inherit;
        line-height: inherit;
        padding: 0 .25em;
      }
    }

    // button padding size
    $size-words: tiny, small, medium, large;
    $plus: 0.5;
    $n: $plus;
    @each $size in $size-words {
      // @if ($n != 1) {
        #{$class}Button--#{$size} {
          @if ($notSilent) {
            @extend %Button--#{$size};
          } @else {
            @include u-inlineBlockSize($n);
          }
        }
      // }
      $n: $n + $plus;
    }


    // Button width
    #{$class}Button--full {
      @if ($notSilent) {
        @extend #{$silentClass}Button--full;
      } @else {
        width: 100%;
      }
    }

    #{$class}Button--fullCenter {
      @if ($notSilent) {
        @extend #{$silentClass}Button--fullCenter;
      } @else {
        @extend %Button--full;
        text-align: center;
      }
    }

    // button text size
    #{$class}Button--alpha {
      @if ($notSilent) {
        @extend #{$silentClass}Button--alpha;
      } @else {
        @include u-fontSize($uni-baseFontSize * 3);
      }
    }

    #{$class}Button--beta {
      @if ($notSilent) {
        @extend #{$silentClass}Button--beta;
      } @else {
        @include u-fontSize($uni-baseFontSize * 2);
      }
    }

    #{$class}Button--gamma {
      @if ($notSilent) {
        @extend #{$silentClass}Button--gamma;
      } @else {
        @include u-fontSize($uni-baseFontSize * 1.5);
      }
    }
  }
}